{% load static %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>MEDICALE</h4>
                <ul class="ul">
                    <li><a href="{% url 'index' %}">About Us</a></li>
                    <li><a href="{% url 'index' %}">Our Services</a></li>
                    <li><a href="{% url 'index' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'index' %}">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>USEFUL LINKS</h4>
                <ul class="ul">
                    <li><a href="{% url 'index' %}">FAQ</a></li>
                    <li><a href="{% url 'pharmacy' %}">Pharmacy Store</a></li>
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                    <li><a href="{% url 'dashboard' %}">Infos</a></li>
                    <li><a href="{% url 'checkout' %}">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SERVICES</h4>
                <ul class="ul">
                    <li><a href="{% url 'index' %}">Emergency Services</a></li>
                    <li><a href="{% url 'index' %}">Qualified Doctors</a></li>
                    <li><a href="{% url 'index' %}">Outdoors Checkup</a></li>
                    <li><a href="{% url 'index' %}">24 Hours Services</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>FOLLOW US</h4>
                <p class="qw text-muted">
                    Far far away, behind the word mountains, far from the countries.
                </p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="semi-footer text-center mt-4 pt-3">
            <p class="qe mt-3">
                Copyright &copy;2022 All rights reserved | Website made by MooglesMe
            </p>
        </div>
    </div>
</footer>